.best-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.best-container1 {
  width: 931px;
  height: 207px;
  display: flex;
  align-items: center;
  border-color: #414756;
  border-width: 3px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
}
.best-image {
  width: 870px;
  height: 173px;
  object-fit: cover;
}
.best-container2 {
  width: 818px;
  height: 702px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f4f9ff;
}
.best-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.best-container4 {
  flex: 0 0 auto;
  width: 352px;
  height: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.best-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.best-navlink {
  align-self: flex-start;
  text-decoration: none;
}
.best-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.best-text {
  color: rgb(45, 49, 59);
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
}
.best-container6 {
  width: 587px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 561px;
  display: flex;
  align-items: flex-start;
  padding-top: 27px;
  flex-direction: column;
}
.best-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.best-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.best-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.best-burger-menu {
  display: none;
}
.best-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.best-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.best-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.best-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.best-logo {
  height: 2rem;
}
.best-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.best-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.best-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.best-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.best-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.best-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.best-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.best-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.best-login {
  margin-right: var(--dl-space-space-twounits);
}
.best-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.best-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.best-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .best-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .best-desktop-menu {
    display: none;
  }
  .best-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .best-text1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .best-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .best-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .best-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .best-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .best-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .best-mobile-menu {
    padding: 16px;
  }
}
