.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container1 {
  width: 931px;
  height: 207px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-decoration);
  margin-bottom: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
}
.home-image {
  width: 843px;
  height: 182px;
  object-fit: cover;
}
.home-container2 {
  width: 818px;
  height: 702px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-box);
}
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-navlink {
  color: var(--dl-color-links);
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.home-navlink:hover {
  text-decoration: underline;
}
.home-navlink1 {
  color: var(--dl-color-links);
  align-self: center;
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.home-navlink1:hover {
  text-decoration: underline;
}
.home-text {
  color: var(--dl-color-text);
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
}
.home-text1 {
  color: var(--dl-color-text);
  padding-top: var(--dl-space-space-halfunit);
}
.home-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text2 {
  color: var(--dl-color-text);
  padding: 5px;
}
.home-container5 {
  width: 587px;
  height: 561px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-decoration);
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container6 {
  align-self: center;
  padding-top: 15px;
  width: 200px;
}

.best-eval {
  font-weight: 600;
}

@media(max-width: 1200px) {
  .home-image {
    width: 834px;
    height: 160px;
    margin-bottom: 0px;
  }
}
@media(max-width: 991px) {
  .home-image {
    width: 830px;
    height: 174px;
  }
}
@media(max-width: 767px) {
  .home-container1 {
    width: 715px;
  }
  .home-image {
    width: 718px;
    height: 162px;
  }
}
@media(max-width: 479px) {
  .home-container1 {
    width: 462px;
    height: 118px;
    margin-bottom: 0px;
  }
  .home-image {
    width: 455px;
    height: 89px;
  }
}
