.main-container {
    width: 100%;
    display: flex;
    z-index: 100;
    overflow: auto;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    min-height: 100vh;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    flex-direction: column;
    justify-content: flex-start;
}
.header-container {
    width: 900px;
    display: flex;
    align-items: center;
    border-color: var(--dl-color-decoration);
    margin-bottom: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
}
.header-image {
    width: 90%;
    object-fit: cover;
}
.backdrop-container {
    width: 850px;
    min-height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--dl-color-box);
    border: 0px solid black;
}
.link-container {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: center;
    border: 0px solid black;
}
.link-left {
    color: var(--dl-color-links);
    align-self: center;
    transition: 0.3s;
    text-decoration: none;
}
.link-left:hover {
    text-decoration: underline;
}
.link-right {
    color: var(--dl-color-links);
    align-self: center;
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
}
.link-right:hover {
    text-decoration: underline;
}
.title-text {
    color: var(--dl-color-text);
    font-style: normal;
    text-align: center;
    font-family: "Inter";
    font-weight: 700;
}
.subtitle-text {
    color: var(--dl-color-text);
    padding-top: var(--dl-space-space-halfunit);
}
.info-text {
    color: var(--dl-color-text);
    padding: 5px;
}
.data-container {
    width: 70%;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
    border-color: var(--dl-color-decoration);
    flex-direction: column;
    justify-content: flex-start;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}
.scrollable-container {
    width: 90%;
    margin-bottom: var(--dl-space-space-unit);
    display: flex;
    align-self: center;
    justify-content: center;
    overflow-y: auto;
    border: 0px solid black;
}
.table-container-3col {
    align-self: center;
    max-width: 280px;
    width: 100%;
    height: auto;
    border: 0px solid black;
}
.table-container-4col {
    align-self: center;
    max-width: 350px;
    width: 100%;
    height: auto;
    border: 0px solid black;
}

.best-eval {
    font-weight: 600;
}

/* Smartphones (Portrait) */
@media screen and (max-width: 480px) {
    .header-container{
        width: 95%;
    }
    .backdrop-container
    {
        width: 90%;
    }
    .data-container{
        width: 95%;
    }
    .scrollable-container
    {
        width: 95%;
    }
}

/* Smartphones (Landscape) */
@media screen and (min-width: 481px) and (max-width: 767px) {
    .header-container{
        width: 95%;
    }
    .backdrop-container
    {
        width: 90%;
    }
}

/* Tablets (Portrait and Landscape) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header-container{
        width: 750px;
    }
    .backdrop-container
    {
        width: 720px;
    }
}

/* Laptops */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
}

/* Desktop PCs */
@media screen and (min-width: 1441px) {
}